body{
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	/*color: #000000;*/
/*	background-color:#4B4B4B; */
	/*background-color:#FFFFFF;
	text-align:center; */
}
/*table{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}*/
.tableboder{ border:solid 1px #999999;}
a{
	color: #005496;
	text-decoration:none;
}
a:hover{
	color: #FF0000;
	text-decoration:underline;
}
form{
	margin:0px;
}
.inp{
	font-size: 9px;
	border: solid #7F9DB9 1px;
	width:100px;
	height:14px;
	
}
.inpbutton{
	font-size: 9px;
	color:#FFFFFF;
	padding-top:1px;
	padding-bottom:5px;
	border: solid #7F9DB9 1px;	
	height:20px;
	background:#434343;
}
.headingtxt{
	color: #FF0000;
	font-weight: bold;
	font-size: 12px;
}

.bottomlink{
	color: #990000;	
	text-decoration:none;	
}
.bottomlink:hover{
	color: #990000;
	font-weight: bold;
	text-decoration:none;	
}
.linkmenu{
	color: #FF6600;
	font-weight: bold;
	text-decoration:none;	
}
.linkmenu:hover{
	color: #FF6600;
	font-weight: bold;
	text-decoration:none;	
}
.blink{
	color: #000000;		
	text-decoration:underline;	
}
.blink:hover{
	color: #000000;	
	text-decoration:none;	
}
.wwlink{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;	
}
.wwlink:hover{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;	
}
.link1{
	color: #FF0000;	
	text-decoration:underline;	
}
.link1:hover{
	color: #FF0000;	
	text-decoration:none;	
}
.link2{
	color: #FF0000;	
	text-decoration:none;		
}
.link2:hover{
	color: #FF0000;	
	text-decoration:underline;		
}
.link3{
	color: #333333;
	text-decoration:none;	
}
.link3:hover{
	color: #333333;
	text-decoration:underline;	
}
.link4{
	color: #0000FF;
	text-decoration:underline;	
}
.link4:hover{
	color: #0000FF;
	text-decoration:none;	
}
.link5{
	color: #003366;
	text-decoration:none;
	font-weight: bold;
}
.link5:hover{
	color: #003366;
	text-decoration:underline;
	font-weight: bold;	
}
.link5a{
	color: #003366;
	text-decoration:underline;
	font-weight: bold;
}
.link5a:hover{
	color: #003366;
	text-decoration:none;
	font-weight: bold;	
}
.link6{
	color: #003366;
	text-decoration:none;
	font-weight: bold;
}
.link7{	
	color: #000000;
	font-size: 12px;
	/* font-weight: bold; */
	text-decoration:none;	
}
.link7:hover{	
	color: #000000;
	font-size: 12px;		
/*	font-weight: bold; */
	text-decoration:none;  	
}
.link8{
	color: #336699; 
	text-decoration:none;
	font-weight: bold;	
}
.link8:hover{
	color: #336699;
	text-decoration:underline;
	font-weight: bold;	
}
.link9{
	color: #336699; 
	text-decoration:none;
	font-weight: bold;
}
.link9:hover{
	color: #CC0000;
	text-decoration:underline;
	font-weight: bold;	
}
.link10{
	color: #336699; 
	text-decoration:none;
	font-size: 11px;
}
.link10:hover{
	color: #CC0000;
	text-decoration:underline;
}
.link11{
	color: #336699;
	text-decoration:underline;	
}
.link11:hover{
	color: #336699;
	text-decoration:none;	
}

.linkdk{
 font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
	color: #336699;
	text-decoration:underline;	
}
.linkdk:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
	color:#000000;
	text-decoration:none;
}

.headlink{
	color: #FFFFFF;
	text-decoration:none;
}
.headlink:hover{
	color: #FFFFFF;
	text-decoration:none;		
}
.olink{
	color: #FF6600;
	text-decoration:none;
}
.olink:hover{
	color: #FF6600;
	text-decoration:none;		
}
.wlink{
	color: #FFFFFF;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}
.wlink:hover{
	color: #FFffff;
	text-decoration:none;		
}
.wlink2{
	color: #FFFFFF;
	text-decoration:none;	
}
.wlink2:hover{
	color: #FFFFFF;
	text-decoration:none;			
}
.txt{
	color: #003366;	
	font-weight: bold;
}
.error_red{
	color:#FF0000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
}
.msg_green{
	color:#1B8528; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
}
.tdtxt{
	color: #FF9933;	
	font-size: 11px;
	background-color: #4F2700;
}
.tdtxt1{
	color: #003366;
	font-size: 11px;		
	background-color: #95CAFF;
}
.leftlinksunderline{
	color: #999999;
	font-size: 11px;			
}
.headingtxt{
	color: #000066;
	font-size: 16px;
	font-weight: bold;	
}
.pad{
	padding-left:15px;
}
.roundpadding{
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	padding-bottom:8px;
}
.tdpadding{
	padding-left:8px;
	padding-right:8px;
}

.buttons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color:#33ADBF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9900FF;
	border-right-color: #9900FF;
	border-bottom-color: #9999FF;
	border-left-color: #9999FF;

}
.buttons1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003300;
	background-color: #99CCFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #003300;
	border-left-color: #003300;

}
.buttons2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003300;
	background-color: #99CC00;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #99FF00;
	border-right-color: #99FF00;
	border-bottom-color: #003300;
	border-left-color: #003300;
}
.style1 {
	font-family: Verdana;
	font-color: #FFFFFF;
	font-size: 12px;
}
.style2 {
	font-family: Verdana;
	font-size: 12px;
	color: #ffffff;
}
.style3 {color: #000000}
.style4 {font-size: 12px; font-family: Verdana;}
.style5 {color: #FFFFFF}
.style16{padding-left:5px;
        font-size:12px;
		color:#000000;
				   		
}

.style17{padding-left:4px;
         font-size:16px;
		 font-weight:bold;
		 font-family:Arial, Helvetica, sans-serif;
		 		 }	
.style18{	 padding-left:4px;
         font-size:12px;
		 font-family:Arial, Helvetica, sans-serif;
		 
				 
		 }
		 
.licircle {
	list-style-position: inside;
	list-style-type: circle;
	color: #666666;
	font-size: 15px;
}
.listdisc {
	list-style-position: inside;
	list-style-type: disc;
	color: #666666;
	font-size: 15px;
}
.list {
	color: #005496;	
	list-style-type: square;	
}
.list1 {
	list-style-type: square;
	color: #000000;
	width:2px}
.list2 {
	list-style-type: square;
	color: #FFFFFF;
	width:2px;
	height:5px;}
.tdtxt00{
	color: #000000;	
	font-size: 11px;
	
	
}
.tdtxt00:hover{
	color: #FFffff;
	width:55px;
	height:20px;
	text-decoration:none;
	background-color: #FF9933;
		
}
.tdtxt001{
	color: #000000;	
	font-size: 11px;
	
	
}
.tdtxt001:hover{
	color: #FFffff;
	width:100px;
	height:20px;
	text-decoration:none;
	background-color: #FF9933;
		
}
.inp1{
	font-size: 12px;
	border: solid #7F9DB9 1px;
	width:200px;
	height:18px;
}
.inp2{
	font-size: 12px;
	border: solid #7F9DB9 1px;
	width:100px;
	height:18px;
}

.linke{
	color: #000000; 
	text-decoration:none;
	font-weight: bold;
}
.linke:hover{
	color: #000000;
	text-decoration:underline;
	font-weight: bold;	
}
.tdtext{font-size:12px;
color:#434343;
}
.tdtextheading{
font-size:16px;
font-family:"Times New Roman", Times, serif;
font-style:normal;
font-weight:bold;
color:#2D91E5;
}
.tdheading_main{
color:#ffffff;
height:35px;
background:#434343;
font-size:18px;
text-align:left;
padding-left:10px;
font-weight:bold;
vertical-align:top;
padding-top:10px;
}
.txt12{
	color: #003366;
	font:Verdana, Arial, Helvetica, sans-serif;
	size:10px;
	font-weight:300;
}
.inpbutton2{
	font-size: 9px;
	color:#FFFFFF;
	padding-top:1px;
	border: solid #7F9DB9 1px;	
	height:20px;
	width:50px;
	background:#434343;
}
.txt20{
	color: #005496;
	font:Verdana, Arial, Helvetica, sans-serif;
	size:10px;
	font-weight:300;
}
.btns{
 text-align:left;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 font-weight:bold;
}
.fontdk{
font-family:"Trebuchet MS"; font-size:14px; color:#2C5165; padding-left:15px; font-weight:bold;
}
.fontdk1{
font-family:"Trebuchet MS"; font-size:11px; color:#BB601C; padding-left:15px; 
}
.fontdk2{
font-family:"Trebuchet MS"; font-size:13px; color:#000000; padding-left:15px; 
}
.fontdk22{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#686F64;
}

.suggest_link { width:25%;
				background-color: #FFFFFF;
				padding: 2px 6px 2px 6px;
				
			}
			.suggest_link_over {
				background-color: #3366CC;
				padding: 2px 6px 2px 6px;
				
			}
			#search_suggest {
				position: absolute;
				margin-left:12px;
				margin-top:20px; 
				background-color: #FFFFFF; 
				text-align: left;
				z-index:100; 
				}	
.bgcolor{ background:#8F97EF;}	
.bgcolordbda{background:#8F97EF;}			